.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 20rem;
  h2 {
    font-family: 'novecento-bold';
    font-size: 2.5rem;
    text-transform: uppercase;
  }
}

.about-title {
  font-family: 'novecento-bold';
  font-size: 3rem;
  text-transform: uppercase;
}
