.error-404 {
  margin-top: 50px;
  margin-left: 150px;
}
.page-404 .part-404 {
  display: none;
}

.error-title {
  font-family: 'novecento-bold';
  text-transform: uppercase;
  padding-top: 50px;
}

.error404 h2 {
  font-family: 'novecento-bold';
  text-transform: uppercase;
}
