.page-template-default h2 {
  font-size: 2.1rem;
  font-family: 'novecento-bold';
  text-transform: uppercase;
}

.page-template-default h1 {
  font-family: 'novecento-bold';
  font-size: 3rem;
  text-transform: uppercase;
  padding-top: 50px;
}

iframe.google-map {
  padding-left: 50px;
  width: 900px;
  height: 300px;
}

input[type='submit'].wpcf7-submit {
  background-color: transparent;
  color: white;
  border-radius: 0;
  background: #248a83;
  border: 1px solid black;
  box-shadow: none;
  width: 120px;
  height: 40px;
  font-size: 0.9rem;
  &:hover {
    box-shadow: none;
    background: #216964;
  }
}
