.site-info {
  display: none;
}

.site-footer {
  display: flex;
  background: url('../../images/dark-wood.png');
  justify-content: space-around;
  height: 300px;
  width: 100%;
}

ul {
  padding: 0;
}

li {
  display: flex;
  margin: 0;
  color: white;
  padding: 0;
  list-style: none;
}

a.foota {
  color: white;
}

a.foota:hover {
  color: white;
}

a.foota:active {
  color: white;
}

.info {
  display: flex;
  flex-direction: column;
}

.footer-cats {
  display: flex;
  color: #d99054;
  font-weight: bold;
  display: flex;
}

.hours {
  display: flex;
  flex-direction: column;
}

.copyright {
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex-grow: 1;
}
