.site-info {
  display: none;
}

.site-footer {
  display: flex;
  background: url('../../images/dark-wood.png');
  justify-content: space-between;
  height: 300px;
  width: 100%;
  flex-wrap: wrap;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  margin: 0;
  color: white;
  padding: 0;
  list-style: none;
}

a.foota {
  color: white;
}

a.foota:hover {
  color: white;
}

a.foota:active {
  color: white;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.footer-cats {
  display: flex;
  color: #d99054;
  font-weight: bold;
  font-family: 'novecento-bold';
}

.hours {
  display: flex;
  flex-direction: column;
}

.copyright {
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  font-family: 'novecento';
  text-transform: uppercase;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer-img {
  color: white;
  height: 50px;
  width: auto;
  display: flex;
}

.contact-hours {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
