.home-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../../images/home-hero.jpg'), no-repeat, center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

.home-trees {
  position: absolute;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.front-page-content {
  margin: 0;
}

.front-page-image {
  height: auto;
  width: 70px;
}

.front-page-shop {
  display: flex;
  justify-content: space-around;
  padding: 90px;
}

.front-page-journal {
  display: flex;
  justify-content: space-around;
  padding: 90px;
}

.front-page-journal-entry {
  display: flex;
  flex-direction: column;
  border: 1px solid #c8c8c8;
  width: 300px;
  img {
    border-bottom: 5px solid #c8c8c8;
  }
  a {
    text-decoration: none;
  }
}

.journal-info {
  font-size: 1.5rem;
  font-family: 'novecento-bold';
  text-decoration: none;
  margin-bottom: 30px;
}

.front-page-titles {
  margin: 70px;
  font-size: 3rem;
  text-align: center;
  font-family: 'novecento';
  text-transform: uppercase;
  &:nth-of-type(1) {
    margin-top: 7%;
  }
}

.frontpage-term {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 5px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  padding: 10px;
  width: 250px;
  height: auto;

  &:hover {
    border-top: 5px solid #d99054;
    border-bottom: 1px solid #d99054;
    border-left: 1px solid #d99054;
    border-right: 1px solid #d99054;
  }

  a {
    text-decoration: none;
    font-family: 'novecento';
    text-transform: uppercase;
    &:hover {
      background: #1b6b66;
    }
  }
}

.home-header h2 {
  display: none;
}

.fp-journal-info {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.frontpage-term a {
  padding: 0.75rem 1.5rem;
  color: white;
  background: #248a83;
}

.fp-btn {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  font-size: 0.9rem;
  border-radius: 0;
  width: 150px;
  text-transform: uppercase;

  &:hover {
    color: white;
    background: #248a83;
    box-shadow: none;
    a {
      color: white;
    }
  }

  a {
    color: black;
  }
}

//Adventure Section

.adventure-section {
  padding-bottom: 30px;
}

.adventure-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  p {
    position: absolute;
    color: #fff;
    z-index: 8;
    font-size: 2.6rem;
    max-width: 400px;
    line-height: 2rem;
    padding-left: 10px;
  }
}

.adventure-pic-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../../images/adventure-photos/canoe-girl.jpg') no-repeat;
  background-size: cover;
  height: 500px;
  width: 600px;
  position: relative;
  background-position: center;
}

.adventure-pic-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../../images/adventure-photos/beach-bonfire.jpg') no-repeat;
  background-size: cover;
  height: 240px;
  width: 600px;
  position: relative;
  background-position: center;
}

.adventure-pic-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../../images/adventure-photos/mountain-hikers.jpg') no-repeat;
  background-size: cover;
  height: 240px;
  width: 290px;
  position: relative;
  background-position: center;
}

.adventure-pic-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../../images/adventure-photos/night-sky.jpg') no-repeat;
  background-size: cover;
  height: 240px;
  width: 290px;
  position: relative;
  background-position: center;
}

.adventure-half-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  p {
    font-size: 2.3rem;
  }
}

.adventure-quart-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  p {
    max-width: 190px;
    font-size: 1.5rem;
  }
}

.adventure-ind {
  margin-right: 20px;
}

.more-adventure {
  padding-bottom: 30px;
  margin-left: 310px;
  text-decoration: none;
  color: #fff;
  background: #248a83;
  font-family: 'novecento';
  padding: 10px 30px;
  margin-bottom: 30px;
  &:hover {
    color: #fff;
    background: #16615c;
  }
  &:visited {
    color: #fff;
  }
}

.adventure-btn {
  position: absolute;
  z-index: 8;
  background-color: transparent;
  box-shadow: none;
  color: #fff;
  border: 1px solid #fff;
  font-size: 0.9rem;
  border-radius: 0;
  width: 150px;
  text-transform: uppercase;
  margin-left: 10px;
  margin-top: 135px;
  a {
    color: #fff;
    text-decoration: none;
  }
  &:hover {
    color: white;
    background: #248a83;
    box-shadow: none;
    border: none;
    a {
      color: white;
    }
  }
}
