.nav-image {
  height: 40px;
  width: 40px;
}

.flex-nav-image {
  justify-content: flex-start;
  margin-left: 200px;
}

.flex-nav {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-right: 200px;
}

.main-navigation {
  justify-content: flex-end;
}

.flexed-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  position: fixed;
  z-index: 10;
  justify-content: space-between;
  background: linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6)
  );
  width: 1120px;
  margin: 0 auto;
  width: 100%;
}

.main-navigation ul li a {
  padding: 10px;
  font-family: 'novecento';
  font-size: 1.13rem;
}
