.journal-post {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.journal-title {
  position: absolute;
  top: 10%;
  max-width: 600px;
  background: #248a83;
  padding: 10px 100px 10px 0;
  a {
    color: white;
    text-decoration: none;
    font-family: 'novecento-bold';
    text-transform: uppercase;
    font-size: 2.5rem;
    &:hover {
      color: #f0e4d1;
    }
  }
}

.journal-header {
  position: relative;
}

.journal-meta {
  position: absolute;
  bottom: 7px;
  padding: 5px 10px 5px 5px;
  left: 300px;
  color: white;
  background: #248a83;
}

.read-more {
  padding: 0.75rem 1.5rem;
  color: black;
  background: white;
  border: 1px solid black;
  text-decoration: none;
  &:hover {
    background: #248a83;
    color: white;
  }
}
