.search-form {
  display: flex;
  align-items: center;
}

.search-submit {
  padding: 0;
  height: 25px;
  width: 25px;
  background: none;
  display: none;
}

.fa-search {
  color: #248a83;
  width: 25px;
  height: 25px;
}

.search-field {
  display: none;
  color: #f0e4d1;
  background: rgba(255, 255, 255, 0.6);
}
